.side-bar {
  position: static;
  grid-area: sidebar;
  width: var(--sidebar-width);
  overflow-x: hidden;
  background-color: var(--mui-palette-primary-dark);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  z-index: 1
}

.side-bar ul {
  margin: 0;
  padding-right: 1em;
  padding-left: 0;
  padding-top: 1em;
}

.side-bar-option {
  display: flex;
  list-style-type: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  margin-bottom: 1em;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.side-bar-option.selected {
  border-left-style: solid;
  border-color: var(--mui-palette-primary-main);
  border-left-width: 8px;
}

.side-bar-option-icon {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.side-bar-option-title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-wrap: nowrap;
  transition: all 0.1s ease 0s;
  color: var(--mui-palette-grey-300);
}

.side-bar.hidden {
  padding-left: 0;
  padding-right: 0;
  width: 0;
}

.side-bar-option-title.hidden {
  width: 0;
  font-size: 0;
}

.side-bar-option:hover {
  background-color: var(--mui-palette-action-hover);
  padding-left: 1.8em;
  transition: all 0.3s ease 0s;
}


@media only screen and (max-width: 830px){
  .side-bar {
    padding-left: 0;
    padding-right: 0;
    width: 0;
  }

  .side-bar-option-title {
    width: 0;
    font-size: 0;
  }
}