@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  font-family: "IBM Plex Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --first-color: #0a2117;
  --second-color: #399a6e;
  --third-color: #d9d9d9;
  --fourth-color: #f3f3f3;

  --navbar-height: 100px;
  --sidebar-width: 350px;
  --bottombar-height: 50px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%
}