.main-board {
  grid-area: main-board;
  overflow: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
}

.tiles-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem 3rem;
  flex-wrap: wrap;
}


.tile {
  display: grid;
  cursor: pointer;
  width: auto;
  grid-template: auto auto / 100%;
  border-radius: px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  overflow: hidden;
  min-width: 367px;
  transition: border-color ease 0.3s 0s;
}

.img-container {
  background-color: var(--third-color);
  padding: 2rem;
  display: flex;
  justify-self: center;
}

.img-container img {
  height: auto;
  max-width: 100%;
}

.text-container {
  color: white;
  background-color: var(--first-color);
  text-wrap: nowrap;
  padding: 1em;
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  border-color: var(--first-color);
}