.main-board {
  height: calc(100% - 100px);
  padding: 3em;
}

.tiles-container {
  display: flex;
  justify-content: space-around;
}


.tile {
  display: grid;
  grid-template: 3fr 1fr / 100%;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.img-container {
  background-color: var(--third-color);
  display: flex;
  justify-self: center;
  padding: 2rem;
}

.text-container {
  background-color: var(--fourth-color);
  display: flex;
  justify-content: center;
  align-items: center;
}