.side-bar {
  position: static;
  grid-area: sidebar;
  width: var(--sidebar-width);
  overflow-x: hidden;
  background-color: var(--fourth-color);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.side-bar ul {
  margin: 0;
  padding-right: 1em;
  padding-left: 0;
  padding-top: 1em;
}

.side-bar-option {
  display: flex;
  list-style-type: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  margin-bottom: 1em;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.side-bar-option-icon {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.side-bar-option-title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-wrap: nowrap;
  transition: all 0.1s ease 0s;
}

.side-bar.hidden {
  padding-left: 0;
  padding-right: 0;
  width: 0;
}

.side-bar-option-title.hidden {
  width: 0;
  font-size: 0;
}

.side-bar-option:hover {
  background-color: var(--third-color);
  padding-left: 1.8em;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 818px){
  .side-bar {
    width: 0;
  }
}