.bottom-bar {
  grid-area: bottombar;
  background-color: var(--mui-palette-primary-dark);
  display: none;
  height: var(--bottombar-height);
  width: 100vw;
  overflow: auto;
}

.options-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bottom-bar-option {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.25em;
  cursor: pointer;
  transition: background-color ease 0.3s 0s;
}

.bottom-bar-option.selected {
  border-bottom-style: solid;
  border-color: var(--mui-palette-primary-main);
  border-bottom-width: 5px;
  box-sizing: border-box;
}

.bottom-bar.hidden {
  display: none;
}

.bottom-bar-option:hover {
  background-color: var(--mui-palette-action-hover);
}

@media only screen and (max-width: 830px) {
  .bottom-bar {
    display: block;
  }
}